.club-card{
    display: flex;
    height: 24vh;
    width: 38vw;
    align-items: center;
    background: rgba(227, 207, 172, 0.4);
}

.club-card-content{
    display: flex;
    width: 52vw;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    
}

.club-card-heading{
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 700;
    color: #443E58;
}

.club-card-about{
    color: #343434;
    font-size: 16px;
}

.club-logo-image{
    display: flex;
    width: 18vw;
    height: 18vh;
    margin-left: 2vw;
}