*{                  /* for the whole section */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.comittees{     /* for the whole committee section */
    display: flex;
    /* height: 120vh; */
    flex-direction: column;
    align-items: flex-start;
}

.comittees-heading{     /* for the heading section including under line */
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comittees-head-text{           /* for heading text */
    color: #443E58;
    font-size: 70px;
    font-family: 'Ubuntu';
}
.comittees-heading-underline{       /* for under line below heading */
    width: 22vw;
    height: 1vh;
    background: #E9B456;
}

.comittees-all{     /* for the whole committees section below heading ... for cards of committees */
    display: flex;
    height: 100vh;
    width: 100vw;
    /* margin-top: 10vh; */
}

.comittees-card{    /* for all the cards */
    margin-top: 7vh;
}

.top-comittees-card{        /* only for the top card */
    margin-top: 7vh;
}

.comittees-left-side{   /* for the left portion of the screen of committes section */
    width: 40vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.comittees-right-side{      /* for the right section of the screen */
    width: 50vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}
/* .club-logo-1{
    w
} */