.committees-card{      /* for the main card back rectangle */
    display: flex;
    height: 24vh;
    width: 38vw;
    align-items: center;
    background: rgba(227, 207, 172, 0.4);
}

.committees-card-content{       /* for the content of the card */
    display: flex;
    width: 52vw;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    
}

.committees-card-heading{       /* for heading of the card */
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 700;
    color: #443E58;
}

.committees-card-about{     /* for the about section in the card */
    color: #343434;
    font-size: 16px;
}

.committees-logo-image{     /* for the logo image to be used in card */
    display: flex;
    width: 18vw;
    height: 18vh;
    margin-left: 2vw;
}