@media only screen and (min-width: 430px) and (max-width:1600px){
    
    .committees-card{      /* for the main card back rectangle */
        display: flex;
        width: 38vw;
        padding: 2vh 3vh;
        gap: 2vw;
        align-items: center;
        background: rgba(227, 207, 172, 0.4);
    }
    
    .committees-card-content{       /* for the content of the card */
        display: flex;
        width: 52vw;
        flex-direction: column;
    }
    
    .committees-card-heading{       /* for heading of the card */
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(68, 62, 88);
    }
    
    .committees-card-about{     /* for the about section in the card */
        color: rgb(52, 52, 52);
        font-size: 1rem;
    }
    
    .committees-logo-image{     /* for the logo image to be used in card */
        display: flex;
        width: 18vw;
        height: 18vh;
    }
}
@media only screen and (max-width: 430px) {
    .committees-card{        /* css for main card at back */
        display: flex;
        background: rgba(227, 207, 172, 0.4);
        padding: 1vh 1vh;
        width: 80vw;
        gap: 2vw;
        align-items: center;
    }
    .committees-logo-image{       /* css for image used on the card */
        display: flex;
        width: 20vw;
        height: 10vh;
    }
    .committees-card-content{     /* css for card content */
        display: flex;
        flex-direction: column;
    }
    .committees-card-heading{     /* css for card heading */
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(68, 62, 88);
    }
    .committees-card-about{       /* css for card about */
        color: rgb(52, 52, 52);
        font-size: 1rem;
    }
}