*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.clubs{
    display: flex;
    /* height: 120vh; */
    flex-direction: column;
    align-items: flex-start;
}

.clubs-heading{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.clubs-head-text{
    color: #443E58;
    font-size: 70px;
    font-family: 'Ubuntu';
}

.clubs-all{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* margin-top: 10vh; */
}

.club-heading-underline{
    width: 12vw;
    height: 1vh;
    background: #E9B456;
}

.clubs-card{
    margin-top: 7vh;
}

.top-club-card{
    margin-top: 7vh;
}

.clubs-left-side{
    width: 40vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.clubs-right-side{
    width: 50vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}
/* .club-logo-1{
    w
} */