*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.clubs{
    display: flex;
    /* height: 120vh; */
    flex-direction: column;
    align-items: center;
}

.clubs-heading{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.clubs-head-text{
    color: #443E58;
    font-size: 70px;
    font-family: 'Ubuntu';
}
.clubs-head-line{
    margin-top: 0;
    width: 11.5%;
    margin-left: 0.5vw;
}

.clubs-all{
    height: 90vh;
    margin-top: 10vh;
}

/* .club-logo-1{
    w
} */